:root{
    --color-navyblue: #022626;
    --color-black: #000;
    --color-white: #fff;
    --color-ox-blood: #520B00;
    --color-silver: #ffe2ad;
    --color-dark-gray: #A9A9A9;
    --color-light-gray: #D3D3D3;
    --color-sky-blue: #87CEEB;
    /*--color-silver: #C0C0C0;*/
}